*{
  padding: 0;
  margin: 0;
}

header{
  height: 50px;
  align-items: center;
  padding: 20px;
}

header nav ul li{
  font-size: 25px;
}

header h2{
  font-size: 30px;
}

body{
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  color: rgb(9,1,0);
  line-height: 20px;
  width: 1300px;
}

.row{
  color: rgb(9,1,0);
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
} 


nav ul li{
  display: inline;
  list-style-type: none;
  font-size: 20px;
  line-height: 40px;
  padding: 10px 10px; 
}

nav ul li a{
  text-decoration: none;
  color: rgb(255,255,255);
}

nav ul li a:hover{
  color: rgb(9,1,0);
  transition: 1s ease-in-out;
  cursor: pointer;
}

.double-container{
  display: flex;
  padding: 20px 10px;
  align-items: center;
  justify-content: center;
}

.column{
  flex-basis: 40%;  
  flex-wrap: wrap;
}

.image{
  margin-left: 100px;
  height: 300px;
  width: 250px;
}

#aboutus{
  background-color: rgb(255,255,255);
}

.column ul li{
  padding: 5px;
}

#card{
  color: rgb(255,255,255);
  background-color: rgb(66,64,64);
  padding-left: 20px;
  border-radius: 30px;
  width: 200px;
  margin-top: 70px;
  margin-right: 70px;
  line-height: 25px;
}

.four-container{
  display: flex;
  background-color: rgb(9,1,0);
  font-size: 15px;
}

.col4{
  padding-top: 10px;
  flex-basis: 25%;
  padding-left: 20px;
  align-items: center;
}

.col4 ul li{
  list-style-type: none;
  color: rgb(255,255,255);
}

.service{
  display: flex;
  width: fit-content;
}

.cols4{
  flex-basis: 24%;
  height: 60px;
  background-color: rgb(66,64,64);
  margin: 20px 20px 20px 20px;
  border-radius: 20%;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgb(255,255,255);
  padding: 20px 5px;
}

.cols4:hover{
  color: rgb(9,1,0);
  transition: 1s ease-in-out;
  transform: translateY(-5px);
  cursor: pointer;
}

